# Carbon steel strip VS. Stainless steel strip VS. Pure nickel strip. Fake nickel strips tested! Practical performance test results

### Replies: 36 Views: 6986

## \#1 Posted by: SimosMCmuffin Posted at: 2017-03-06T11:47:24.293Z Reads: 440

```
**UPDATE, Corrosion tests show that neither of these strips are what I thought them to be.** The results are posted in this thread [HERE](http://www.electric-skateboard.builders/t/pure-nickel-strip-vs-nickel-plated-steel-strip-practical-performance-test-results/18633/9?u=simosmcmuffin), so let's see if we can figure what these strips are actually made out of.

**2nd UPDATE, both strips seem to be steel based off of resistivity of the metals**. Thread name updated to mirror this.


----------


I was planning on redoing my board wiring and decided to test the performance difference of my ebay sourced 0.1 mm and 0.15 mm nickel strips. But it turns out the other strip wasn't pure nickel strip, but rather nickel plated steel strip, so I decided to test them both and declare the results here. Even though the test procedure was quite simple, I took pictures for you guys, so it'll be clear how it was done.


----------


<img src="/uploads/db1493/original/3X/e/d/ed07c642b0597473ccd3e98b73839583aa2887aa.jpg" width="690" height="266">
<img src="/uploads/db1493/original/3X/7/2/72c42aa5748c9424e8a0bb7182ffd9c077a57d9b.jpg" width="690" height="473">
<img src="/uploads/db1493/original/3X/1/a/1adf4c0d5c307ee57738fff9677801d0def9f0b8.jpg" width="330" height="500">

Both strips were also 8 mm wider. Our two strips to be tested with relevant information presented. Sorry, I don't know why the last picture got it's orientation changed.


----------
Testing will be done with a nifty DC-DC buck converter with a display for setting voltage and current limits and it will also show the output power. Power will be supplied via 3S Li-Po.

<img src="/uploads/db1493/original/3X/d/3/d3e5c27852919268773e43de80aa957bf99bad0a.jpg" width="690" height="490">

The strip under test will be attached to the output of the buck converter and then **tested by supplying a constant 5 amp current** through it.
<img src="/uploads/db1493/original/3X/c/0/c0cbfae025ddb9fb11a068ad2576691516395b52.jpg" width="690" height="459">


----------
**1st test: Pure Nickel Strip (Actually carbon steel) (8 x 0,10 mm)**
<img src="/uploads/db1493/original/3X/3/c/3c1b7470b2b819e07708fc248b3453b3b652cd1e.jpg" width="503" height="500">

Power loss: 1,35 W
Voltage drop: 0,27 V
Strip resistance: 54 mOhm
Material resistivity: 1.2 e-7 (Carbon steel listed in at 1.47 e-7)
Strip felt just a bit warm to the touch


----------
**2nd test: Nickel Plated Steel Strip (Actually stainless steel) (8 x 0,15 mm)**
<img src="/uploads/db1493/original/3X/f/d/fdf1d7f577e46b788aae0c0a7df6e25fc844248f.jpg" width="528" height="500">

Power loss: 4,80 W
Voltage drop: 0,96 V
Strip resistance: 192 mOhm
Material resistivity: 6.6 e-7 (Stainless steel listed in at 6.90 e-7)
Strip felt burning hot for a moment before fingers sucked up the heat.


----------
**3rd test: Real Pure Nickel Strip (8 x 0,15 mm)**

<img src="/uploads/db1493/original/3X/3/7/377fa560c23d8853925d4400aff6dabc4065f8f5.jpg" width="580" height="500">

Power loss: 0.60 W
Voltage drop: 0,12V
Strip resistance: 24 mOhm
Material resistivity: 8.2 e-8 (Nickel listed in at 6.99 e-8)
No noticeable increase in strips temperature.
----------

**Conclusion:**
_Nickel Plated Steel Strip is S*#T. Even in this test with it being thicker at 0,15 mm then the pure nickel strip at 0,1 mm, it still had almost 4 times resistance. When taking into account the thickness and resistance and then converting them to a 0,1 mm thickness equivalent. The resistance would be around 290 mOhms for that 350 mm strip. With that kind of resistance if you were to pull a measly 10 Amps through it you would generate 29 Watts of power loss via heat and at that power you will start adding unnecessary heat to your Lithium cells and might even risk a fire at higher currents._**(old conclusion)**

All three strips mirror pretty well their natural resistivity and is also directly linked to their performance. Pure nickel strip is absolutely dominating the other steel based strips, with stainless steel being particularly s**t. Copper would on the other hand still absolute trash even the pure nickel strip, but comes with the oxidation problem, unless further protected from exposure. So now I know that all three materials are in the circulation and will from now on probably by my strip in bulk from aliexpress, so I can avoid the possibility of getting scammed.

This doesn't actually make things easier as I was trying to source some thicker strip from ebay, but it seemed that almost all the results were steel core, but that only became evident **after** looking at the item description. Closer  look at the descriptions turned out "Nickel Plated **Steel** Strip" or "99.6% Pure Nickel Plated **Steel**". Also, always double check the item description if the item name has "pure Ni/nickel plate/plated", as that might be your earliest warning that you're buying nickel plated steel

**UPDATE**
Genuine pure nickel strip tested and results added to the first post

**2nd UPDATE**
Pure nickel strip tested in an identical setup as the fake strips so results can now be compared to each other. Also calculated the resistivity of the metal the strip and also added the closest sensible result from https://en.wikipedia.org/wiki/Electrical_resistivity_and_conductivity that it compares to in a table of different metals/materials. Results are pretty darn close to what the strips have been concluded to be made out of.
```

---
## \#2 Posted by: treenutter Posted at: 2017-03-06T18:57:00.138Z Reads: 373

```
@SimosMCmuffin this is a much needed test, thank you for conducting it! We've had lots of discussion about this topic in the past so it is great to see some useful exploration with real-world tests! 

I've given up relying on vendors' claims of purity on ebay... I test every spool of stripping that comes to me to by scuffing it and giving it a salt-water bath for a few days. Any Corrosion = steel plated. None - pure nickel.
```

---
## \#3 Posted by: johnny_261 Posted at: 2017-03-06T19:10:29.071Z Reads: 357

```
Thanks for sharing.  Definitely info everyone needed to know.
```

---
## \#4 Posted by: SimosMCmuffin Posted at: 2017-03-06T19:23:47.703Z Reads: 343

```
I'm doing corrosion testing on both of the strips to validate that they are what I claimed them to be and will post a picture of them later.
```

---
## \#5 Posted by: Hummie Posted at: 2017-03-07T04:38:19.128Z Reads: 318

```
neato.  in your test i was looking for the time period with the current on and what voltage the test was done at.  i guess theres the math way to figure the voltage 

how much of a battery pack's voltage drop while riding can be attributed to the connections between the cells?
where'd you get that awesome converter with the screen?
```

---
## \#6 Posted by: PXSS Posted at: 2017-03-07T05:34:25.243Z Reads: 288

```
The voltage is irrelevant as the power loss is I^2*R.
R is a constant based on the strip, and he is setting I.
He could be running 11V or 50V, the result would be the same.
```

---
## \#7 Posted by: Hummie Posted at: 2017-03-07T05:54:24.087Z Reads: 278

```
there is a voltage drop posted but no context of a supplied voltage.  with ohms equation and the resistance and voltage drop given and the current I think you could get the voltage suppled
```

---
## \#8 Posted by: SimosMCmuffin Posted at: 2017-03-07T08:11:32.771Z Reads: 297

```
as @PXSS said: 

Supplied voltage doesn't really change anything, as this test shows just how current causes voltage drop in the test strips, so regardless if you were running 16 Volts or 44 Volts, if you were pulling 5 Amps through that kind of strip. You would get the noted voltage drop.
```

---
## \#9 Posted by: SimosMCmuffin Posted at: 2017-03-07T08:37:38.254Z Reads: 289

```
**Corrosion test results:**
After scuffing up the two strips and leaving them in a 1:1 salt & vinegar bath to induce corrosion. I really can't say I expected the results.

I now have to say, I am not sure what either of these strips are made of.

<img src="/uploads/db1493/original/3X/6/a/6ab2af650549179c0836e620a96b5402ed313ff0.jpg" width="690" height="265">

So the no. 1 strip, which I thought to be pure nickel strip, has rust on it. I don't think this should happen if it's 99,97 % nickel.
Meanwhile no. 2 strip has absolutely nothing done to it, which in my mind removes any possibility of it being ferrous metal.

I have updated the 1st post to guide them here so maybe we can sherlock holmes the metals these strips are made out of.
```

---
## \#10 Posted by: Stefan Posted at: 2017-03-07T09:42:21.393Z Reads: 274

```
The voltage drops as you try to draw more power. Same as with your battery voltage dropping under bigger load e.g. at a hill because the source is not strong enough to hold the voltage constant while delivering the amount of current.
```

---
## \#11 Posted by: SimosMCmuffin Posted at: 2017-03-07T11:53:45.644Z Reads: 268

```
Been doing some math to figure out the metals in the strips by calculating the resistivity of the metal.

Math based on experience and http://resources.schoolscience.co.uk/CDA/16plus/copelech2pg1.html

Once resistivity was calculated the values were compared to a table of other metals resistivities from https://en.wikipedia.org/wiki/Electrical_resistivity_and_conductivity

**1st strip had a resistivity of 1,27 e-7 Ohm*Meters, placing it between tin and carbon steel**, so it's not pure nickel by any means, but if it's something like carbon steel that would explain why it would rust.

**2nd strip had a resistivity of 6,78 e-7 Ohm*Meters, placing it pretty much spot on with stainless steel**. This might also explain why it did not rust in the test, as it probably has nickel and chromium alloyed with it.

TLDR; Neither strip is nickel, but rather steel based disappointments. I'll update this threads name to mirror this discovery.

Based of these results, a real pure nickel strip of 0,1 mm thickness, 8 mm width and 350 mm length should have a resistance of about 26 mOhm,
```

---
## \#12 Posted by: PXSS Posted at: 2017-03-07T12:31:23.380Z Reads: 249

```
PM me. I'm interested in sending you a test strip from the stuff I have. It's sunstone brand (they make really expensive spot welders). Let me know what length the test strips are and I'll send you one through usps (if you're in the us)
```

---
## \#13 Posted by: SimosMCmuffin Posted at: 2017-03-07T13:05:45.712Z Reads: 249

```
Appreciate the offer, but due to being located in Finland. I'm not going ask you to send over here.
```

---
## \#14 Posted by: JohnnyMeduse Posted at: 2017-03-07T13:54:36.823Z Reads: 252

```
I've done similar test in the past (not in vinegar /salt bath, but just salt and water), and the pure nickel strip was the only one without any sort of corrosion.

<img src="/uploads/db1493/original/3X/6/4/6492024b575665bf80144c301e0c2d8646d9de14.jpg" width="375" height="500">
```

---
## \#15 Posted by: SimosMCmuffin Posted at: 2017-03-07T14:20:42.218Z Reads: 241

```
I put them both back in a salt and water solution and I intend to let them sit there for couple of days and post new pics then. Let's see what they look like then.
```

---
## \#16 Posted by: Hummie Posted at: 2017-03-07T15:33:23.439Z Reads: 235

```
@PXSS and @SimosMCmuffin  supply voltage doesnt change anything?  you will get a different voltage drop with the different supply voltage  as ohm's law states.  you determined the power loss using the 5amps and the resistance and that reveals a lot but if you're talking about voltage drop its something else and depends on the supply voltage and reveals different info: maybe you're riding at 12s with 50 volts and you'd like to know what voltage you're actually supplying the esc with. This would include all the bad connectors and also the sag of the battery cells themselves.   you could look at the voltage drop in the connectors and then isolate it from voltage sag of the actual cells that way

its a great test you did.  I'm trying to be constructively critical here so we all know more
```

---
## \#17 Posted by: Hummie Posted at: 2017-03-07T17:22:25.919Z Reads: 221

```
[quote="Stefan, post:10, topic:18633, full:true"]
The voltage drops as you try to draw more power. Same as with your battery voltage dropping under bigger load e.g. at a hill because the source is not strong enough to hold the voltage constant while delivering the amount of current.
[/quote]

@Stefan  youre adding voltage sag which depends on the cell's ability and also the drop due to connections.
```

---
## \#18 Posted by: JdogAwesome Posted at: 2017-03-07T17:50:35.972Z Reads: 217

```
Hey @Hummie that converter is the DPS5015 and you can get it for around $35 on Banggood. I'm planning on getting one because there awesome and super useful. (5015 means 50V and 15A)
```

---
## \#19 Posted by: SimosMCmuffin Posted at: 2017-03-07T18:09:43.953Z Reads: 217

```
Ah, yes I forgot to mention what the module was, and yes you're correct. I first tested the 30 V 5 A module to see if they were any good and after confirming that "Hey! this thing is pretty neat" it also seemed to be pretty accurate with it's displayed info. I then ordered 2 of the DP5015 modules to build a bench power supply combined with a chinese 48 V PSU.
```

---
## \#20 Posted by: SimosMCmuffin Posted at: 2017-03-07T18:19:59.909Z Reads: 219

```
I guess you're referring to the Ohm's law with the higher voltage -> lower current for the same power? 

What I meant that  this voltage drop happens in the strips in relation to the current, so for example if you used the worse tested stainless steel strip you would always get about 1 Volt drop if you are pulling 5 amps through it. So magic battery without cell voltage droop at 12 Volts would provide 11 Volts to the ESC with 5 amp pull and 40 Volt battery would provide 39 Volts to the ESC with the same 5 Amp current. Of course you can get a lot more power transfer with 40 Volt battery due it producing more power with less current.

EDIT: read your replied post again and in that case if you know the resistance of your strips, then you can calculate how much voltage drop they would cause with X current and then figure out the real battery voltage
```

---
## \#21 Posted by: Hummie Posted at: 2017-03-07T20:27:24.391Z Reads: 191

```
was thinking more that the resistance of the connections will decrease your performance due to it decreasing the voltage seen by the motor and it will therefore hit a slower speed and a bit less power because of this. the pack voltage will always be decreased due to the connection resistance and there's no way around it other than better connections. No?
```

---
## \#22 Posted by: PXSS Posted at: 2017-03-07T23:26:30.036Z Reads: 193

```
The voltage supply for this test does not matter. The resistance of the strip is constant.
Power loss across strip = I^2 * R.
Voltage drop across strip = I * R.
Regardless of the voltage, the heat generated by the strip is constant.
The voltage drop across the strip will always be the same for a given current.

In this test he ran 5A and the voltage drop was 0.27V
Regardless of the source voltage being 50V or 11V, the voltage drop across the strip will always be 0.27V if you are running 5A.

If you build two packs, one 3S12P and the other 12S3P, with identical solder/weld joints and wire/nickel lengths.
If you run 5A through both packs, the voltage drop and heat generated by wires/nickel tabs on both packs will be identical.

The difference is that the 3S pack will only output 1/4 of the power than the 12S pack, but this is purely due to the fact that one is a higher voltage source. The voltage drop however will be the exact same.

Higher voltage systems are by nature more efficient than lower voltage systems as heat generated is related to current and not voltage, so for the same power condition the higher voltage system will be running less current and therefore less heat is generated. This is absolutely irrelevant to the test he set up though.
```

---
## \#23 Posted by: Hummie Posted at: 2017-03-08T01:52:49.537Z Reads: 179

```
 thanks for clearing it up  it makes sense now and  the voltage drop is proportional to the current and resistance only and regardless of the applied voltage.  
.  None the less with the voltage drop it will be a reduced voltage seen by the motor no?  and that reduced voltage will have all the downsides associated with it: reduced top speed and slightly reduced power and hitting low voltage cut off sooner.   the greater current through will increase this voltage drop mimicking voltage sag.
```

---
## \#24 Posted by: SimosMCmuffin Posted at: 2017-03-08T07:52:08.039Z Reads: 171

```
Yes, it will indeed reduce the maximum voltage that the motor can see, as you are already losing voltage before it is applied the motor via the connector resistance, strip resistance and cell's internal resistance and the lost voltage will be dissipated as heat by a function of current. 
Of course there will also be losses in the ESC's transistor stage by pwm switching action and Rds(on) resistance, but those losses can't be remedied as easily as making all your wiring beefy to minimize wire resistance.
```

---
## \#25 Posted by: PXSS Posted at: 2017-03-08T12:24:29.613Z Reads: 172

```
Yes, but as I said, it is a constant. There's nothing you can do about it except making your weld and soldering as clean as possible and your wires as large as possible. 

You can measure this resistance if you have a really good rc charger. My icharger for example, will test my Pack's internal resistance and also calculate line resistance, which is the resistance across the positive and negative minus cell resistance measured through the balance wires.
```

---
## \#26 Posted by: SimosMCmuffin Posted at: 2017-03-08T14:23:31.644Z Reads: 167

```
I have now ordered pure nickel strip from aliExpress and once that arrives I'll test it and post the results here. Most of the strips available on aliExpress were either in 1 kg rolls or as 100 pcs of 100 mm strips of different widths and thicknesses depending on the product, but I found 1 offer for 0.15x8x5000 mm strip and ordered that.

EDIT: FUN FACT! 1 kg roll of 8 mm x 0x15 mm sized strip would be over 90 meters in length. for 70 $ -> 0.75 cents / m, it's pretty cheap, but how often do you actually need that much nickel strip is the real question.
```

---
## \#27 Posted by: PXSS Posted at: 2017-03-10T00:27:04.663Z Reads: 167

```
I've ran through about 150 feet of nickel strip in the past 6 months... Lol
That's about 45 meters?
```

---
## \#28 Posted by: SimosMCmuffin Posted at: 2017-03-11T16:04:59.243Z Reads: 172

```
Was bored today and decided to do a little test with the smallest AWG copper wire on my shelf. So here's a test with a 24 AWG 600 mm length and the same 5 Amps test current as in the first post.

<img src="/uploads/db1493/original/3X/d/b/db3c3485947ceb7e08239a45b550b8a6dbf16325.jpg" width="690" height="482">

Power loss: 1,30 W
Voltage drop: 0,26 V
Wire resistance: 52 mOhm
Wire AWG: 24
Wire length: 600 mm

----------


**IT PERFORMED BETTER!** This super thin copper wire performs better than the carbon steel strip (the better one) tested in the first post! Can you imagine running a single run of this wire in your battery pack?! No? Well that's what you're basically using if you're using the **better** one (carbon steel) of the tested strips.

Actually. This wire is better than either of the tested strips, because of the longer length and it still surpassed the carbon steel strip. And please let's not even talk about the stainless steel strip...

All in all, people might be building decent battery packs, but then ruin them by using fake pure nickel strips and end up with sub-par performance and excessive resistive losses.
```

---
## \#29 Posted by: Hummie Posted at: 2017-03-11T16:28:45.511Z Reads: 162

```
Copper rules.  If only it could be more easily used on a pack.  Still waiting for a copper compression pack with spring backed copper sheeting and conductive paste
```

---
## \#30 Posted by: PXSS Posted at: 2017-03-12T03:41:50.441Z Reads: 163

```
Copper is 4x as conductive as nickel and 10x as conductive as carbon steel so that's not surprising lol
```

---
## \#31 Posted by: johnny_261 Posted at: 2017-04-02T00:48:16.393Z Reads: 161

```
I've purchased some pure nickel strips from a reputable supplier.  I've also got what appears to be the stainless steel strip off of ebay.  While both pass the corrosion test, I did notice that the stainless steel strip is noticeably stiffer that the nickel strip for the same thickness.  This obviously isn't very useful info unless you have a good nickel strip to compare to, but thought I'd put it out there nonetheless.
```

---
## \#32 Posted by: SimosMCmuffin Posted at: 2017-04-03T15:51:38.993Z Reads: 158

```
Pure nickel strip finally arrived:

<img src="/uploads/db1493/original/3X/3/1/31180bfc42fda132f67c79895d10764209b06d31.jpg" width="690" height="392">

I have updated the first post with the test results.

EDIT: My test setup has changed because I have placed the DC-DC modules in an enclosure and made it into my tabletop bench power supply, so I can no longer connect the strips straight to the power module's output. I will do a better test in the weekend as I'll be changing couple of parts in it.
```

---
## \#33 Posted by: SimosMCmuffin Posted at: 2017-04-08T14:33:39.716Z Reads: 158

```
Okay, I have now done the same identical test to the nickel strip as to the two earlier ones, so now the results are comparable.
<img src="/uploads/db1493/original/3X/d/b/dbf43f99b71fc9623c3fbf500b260f1086133962.jpg" width="690" height="69"><img src="/uploads/db1493/original/3X/3/7/377fa560c23d8853925d4400aff6dabc4065f8f5.jpg" width="580" height="500">

Original post has been updated with the results.

I also calculated the resistivities of the tested strips and added them to the results and then compared them to a list of different metals/materials from https://en.wikipedia.org/wiki/Electrical_resistivity_and_conductivity and included the closest sensible hit on the list.

EDIT: updated the original post conclusion
```

---
## \#34 Posted by: Poseidon Posted at: 2017-08-10T16:52:37.580Z Reads: 128

```
Hi. 
Wich battery are you using with. I just ordered 30 Samsung 30q to make 10s3p and I Wonder if 0.8x0.15 strip would be enough or would be better go for 0.2?

Thanks for your test ;)
Regards
```

---
## \#35 Posted by: Eboosted Posted at: 2017-11-22T02:26:16.584Z Reads: 105

```
I bought a used pack from a friend in order y build my Phoenix board and while I was disassembling it I discovered this:

<img src="/uploads/db1493/original/3X/c/9/c928e73e3a662f04d9ea7bea72d9a8d9a90e8294.jpg" width="690" height="388">

It seems these strips are the bad ones.
```

---
## \#36 Posted by: SimosMCmuffin Posted at: 2017-11-22T12:46:22.502Z Reads: 94

```
It looks like the strip is very rusted, so it might be carbon steel. Resistance wise not the worst, but definite downside is the possibility for it to start rusting.
```

---
