# Battery Diagram Verification

### Replies: 2 Views: 135

## \#1 Posted by: i_am_coopa Posted at: 2019-07-18T00:54:39.493Z Reads: 51

```
Howdy esk8ers, I am getting ready to put together my first battery pack and would like some input to verify if my idea works. I saw a video where a guy assembled a pack in this manner and I liked how the pack was a) flat and b) flexible. After assembly I was planning on wrapping everything in kapton tape for insulation, maybe add some more fish paper, depends on how paranoid I am. Other than verifying my idea, any tips for a first timer would be appreciated.

![0001|386x500](upload://wKSwLPt7h7UrT66eifr9gLkeTuj.jpeg) ![0002|386x500](upload://fuPigUCYaJJZAPOz4LIB7sASd2i.jpeg) ![0003|386x500](upload://yVTGd6YUFESD7h2m7oaBJMqDk1c.jpeg) ![0004|386x500](upload://1Dr5Y53N0evORD0Iq6GurV314Vu.jpeg)
```

---
## \#2 Posted by: b264 Posted at: 2019-07-18T01:24:45.438Z Reads: 34

```
Most of the battery experts are answering questions in the thread

https://forum./t/the-battery-builders-club/720
```

---
